.Main{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.imgFrente{
    width: 100%;
}
.containerImg{
    margin-right: 30px;
    width: 400px;
}
.title{
    color: #0B55C6;
    margin-bottom: 20px;
    font-size: max(24px, 3vw);
}
.text{
    color: #000000;
    font-size: max(13px, 1.5vw);
}
.textDocs{
    color: #000000;
    font-size: max(13px, 1.2vw);
    font-weight: bold;
    word-break: break-all;
}
.numDocs{
    color: #0B55C6;
    font-size: max(13px, 3vw);
}
.containerMedicos > article > p > strong > span{
    color: #0B55C6;
}
.containerMedicos{
    width: 50%;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.containerDocs{
    display: flex;
    margin-top: 5%;
    justify-content: center;
    justify-content: space-around;
    
}
.docs{
    background-color: #ffffff5d;
    width: max(20px, 20vw);
    text-align: center;
    height: max(80px, 10vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10%;
    margin-right: 5%;
    box-shadow: 0px 8px 20px rgba(0, 24, 102, 0.466);
}

@media (min-width: 769px) and (max-width: 1023px){
    
}

@media (max-width: 767px){
   
    .Main{
        margin-top: -30px;
        flex-direction: column-reverse;
        width: 100%;
    }
    .containerMedicos{     
        width: 80%;
        height: 320px;
    }
    .containerDocs{
        display: flex;
        margin-top: 45px;
        justify-content: center;
        justify-content: space-around;        
    }
    .docs{
        width: 30vw;
        text-align: center;
        height:  10vh;
        box-shadow: 0px 5px 10px rgba(0, 24, 102, 0.466);
    }
    .imgFrente{
        width: 70%;
    }
    .containerMedicos > article > p > strong > span{
        color: #0B55C6;
    }
}