:root{
  --mainColor: #0073E5;
  --branco: #FFFFFF;
  --preto: #000000;
  --letterColor: #004488;
  --opacityColor: #005EBC;
  --fontPrincipal: 'Montserrat', sans-serif;
  --fontHeader:  'Plus Jakarta Sans', sans-serif;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

